include *.rst *.txt *.md *.json
include chess/*.json
include chess/chess_game.json
recursive-include docs *.rst *.txt *.md
recursive-include chess *.json
graft */files
graft */*/files
graft */chess
graft /chess
graft chess
